out
test

# MacOS
deps/
release/
resources/
*.dSYM
**/.DS_Store
.DS_Store
*.app

# Windows
.vs/
bin/
obj/
*.dll

src/Utils/

# Visual Studio
*.sln
*.vcxproj
*.filters
*.user

# Make
*.make
Makefile

# CLion
.idea/